html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: #010033;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
}
/*effects*/
.backEffects {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    background: #8080D7;
}
.backEffects.one {
    left: 1100px;
    top: 300px;

    background: rgb(170, 217, 217);
    filter: blur(190px); 
}
.backEffects.two{
    left: 70px;
    top: -80px;

    background: #8080D7;
    filter: blur(220px); 
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #8080d734;
    border-radius: 9px;

    height: 450px;
    width: 200px;
    padding: 20px;
}

button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 100%;
    color: #FFFFFF;
    box-sizing: border-box;
    background-color: rgba(170, 217, 217, 0.2);
    border: none;
    border-radius: 9px;
}

button:hover {
    background-color: #8080D7;
} 
.sketchPad {
    width: 450px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 3px solid #8080D7;
}

footer {
    margin-top: 10px;
    text-align: center;
    padding: 2px;
    background-color: rgba(170, 217, 217, 0.2);
}